.container-ready{
    height: 300px;
    width: 1280px;
    margin-left: 140px;
    margin-bottom: 60px;
    margin-top: 130px;
    background-color: #289BDE;;
}
.ready-font{
    font-size: 16px;
    font-weight: 100;
    width: 52%;
}
.footer-font-color{
    color: #FFFFFF ;
    font-weight: 300;
}
